body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    /* to remove space between body and nav bar*/

}

h1 {
    color: grey;
}

h2 {
    color: #0c005a;
    margin-top: 5%;
    margin-left: 1%;
}


/**************************************************************** Nav Bar styles **/
nav {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: #0c005a;
}

nav ul {
    list-style-type: none;
    /*Removes the bullets.*/
    background-color: #0c005a;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    flex: 80%;
    color: #eaeaea;
    font-size: larger;
}

nav ol {
    list-style-type: none;
    /*Removes the bullets.*/
    background-color: #0c005a;
    margin: 0 10px;
    padding: 5px;
    overflow: hidden;
    float: left;
    flex: 20%;
    color: white;
}

nav ol li:nth-child(2) {
    font-size: .7em;
}

nav ol li:nth-child(3) {
    font-size: .7em;
}

nav ul#navList li {
    display: inline;
    float: right;
}

ul#navList li a {
    display: block;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    transition: .6s;
}

ul#navList li a:hover {
    background-color: #eaeaea;
    color: #0c005a;
}

.active {
    background-color: #04AA6D;
}

/*** END OF NAV STYLES*/



/*************************************************************** About me section**/
/* container */
.two-columns-grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

/* columns */
.column1 {
    padding: 2rem;
}

.column2 {
    padding: 2rem;

}

.column2>h3 {
    color: #0c005a;
}

.column2>p {
    color: black
}

img {
    max-width: 90%;
}

/***************************************************************** Skills section**/
/* Float four columns side by side */
.skill-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.skill-card {
    width: 20%;
    margin: 10px;
    border: none;
    border: 0.5px solid #0c005a;
    border-radius: 5px;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    /* Style the counter cards */
    box-shadow: 0 4px 8px 0 #eaeaea;
}

.skill-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.skill-title {
    font-size: 20px;
    margin: 0;
    color: #0c005a;
}

.skill-description {
    margin: 10px 0;
    color: #000000;
}

.skill-rating {
    font-weight: bold;
    margin: 0;
}

/*************************************************************** Projects section**/

/*** styling each project description*/
.proj-descr {
    max-width: 70%;
    border: 0.5px solid #0c005a;
    border-radius: 5px;
    padding: 10px;
}

.proj-descr>p {
    font-size: 15px;
    color: #0c005a;
    font-weight: bold;
    padding-left: 3%;
}

.proj-descr>ul {
    font-size: 12px;
}

/*
    Using "tabindex" and ":focus" is similar to radio inputs, additionally 
    we trigger the states using the Tab key.
    Clicking outside of the accordion will close all opened items.
*/
.collapse {
    padding: 0px 10px 0px;

}

.collapse>h5 {
    cursor: pointer;
    display: block;
    padding: 18px;
    font-size: 15px;
    transition: 0.4s;
    max-width: 70%;
}

.collapse:focus {
    outline: none;
}

.collapse>div {
    display: none;
}

.collapse:focus div {
    display: block;
}

.active,
.collapse>h5:hover {
    background-color: #eaeaea;
}



/******************************************************** Recommendations section**/

.recs-section {}

/************* Recommendation Cards styles**/

.recommendation-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.recommendation-card {
    width: 20%;
    margin: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    font-size: smaller;
}

.recommendation-card>p:nth-child(2) {
    color: #0c005a;
}



/**************************** Form styles**/
button[type=submit] {
    width: 20%;
    background-color: #0c005a;
    color: white;
    padding: 10px 10px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button[type=submit]:hover {
    background-color: hsl(248, 89%, 29%);
}

#form-area {
    border-radius: 5px;
    padding: 10px;
    max-width: 40%;
    margin: 40px auto;
}

textarea {
    width: 100%;
    height: 90px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

legend {
    padding: 12px 20px;
    color: #0c005a;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset {
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}




/*************************************************************** Header & Footer***/
header {
    background-color: #EEEEEE;
    width: 100%;
}

footer {
    padding: 10px;
    margin: 5px;
    height: auto;
    width: 95%;
    position: fixed;
    bottom: 0;
}

footer>button {
    float: right;
}

.up-btn {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    background-color: #0c005a;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    border-radius: 8px;
}

.up-btn>a {
    color: white;
    text-align: center;
    margin: auto;
    text-decoration: none;
    transition: .6s;
}
